<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<element>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EnterInputHistory</servlet-name>
  	<display-name>EnterInputHistory</display-name>
  	<description></description>
  	<servlet-class>com.agriproject.servlets.EnterInputHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InputHistory</servlet-name>
  	<display-name>InputHistory</display-name>
  	<description></description>
  	<servlet-class>com.agriproject.servlets.InputHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registration</servlet-name>
  	<display-name>Registration</display-name>
  	<description></description>
  	<servlet-class>com.agriproject.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EnterInputHistory</servlet-name>
  	<url-pattern>/EnterInputHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InputHistory</servlet-name>
  	<url-pattern>/InputHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registration</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
</web-app>
</element>
